<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaoxinms.resi.archive.mapper.ResiProjectMapper">

    <resultMap type="com.zhaoxinms.resi.archive.entity.ResiProject" id="ResiProjectResult">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="managerName" column="manager_name"/>
        <result property="managerPhone" column="manager_phone"/>
        <result property="logoUrl" column="logo_url"/>
        <result property="sealUrl" column="seal_url"/>
        <result property="enabledMark" column="enabled_mark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

</mapper>
